body {
  background: url("../img/pkdxbg4.jpeg") no-repeat center fixed;
  background-color: #cccccc;
  background-size: cover;
}

.pokemon {
  font-size: 24px;
  padding: 5px;
  border: 0.5px solid black;
  background-color: lightgray;
  color: black;
}

.button {
  padding: 4px;
  font-size: medium;
  margin: 1rem;
}
